---
import { getCollection } from 'astro:content';

import Layout from '~/layouts/BaseLayout.astro';
import ProjectCard from '~/components/ProjectCard.astro';
import CardContainer from '~/components/CardContainer.astro';
import PostContainer from '~/components/PostContainer.astro';

const rankedProjects = (await getCollection('project', (entry) => {
  return entry.data.rank !== undefined;
}))
  .sort((a, b) => a.data.rank! - b.data.rank!);

const rankedPosts = (await getCollection('blog', (entry) => {
  return entry.data.rank !== undefined;
}))
  .sort((a, b) => a.data.rank! - b.data.rank!);
---

<Layout title="Hamologist">
  <header class="text-xl font-semibold">
    <p class="my-2">Hello, I'm Jordan :^)</p>
  </header>
  <section>
    <p class="my-2">
      I'm a software engineer and this is my little slice of the internet. I keep my projects here and write about technical things I find interesting.
    </p>
  </section>
  <section class="mt-6">
    <div class="flex mb-4">
      <p class="text-xl font-semibold my-2">Projects</p>
      <a
        class="border rounded-md p-2 bg-neutral-100 ml-auto hover:underline"
        href="/projects"
      >
        View All
      </a>
    </div>
    <CardContainer>
      {rankedProjects.slice(0, 3).map(project => (
        <ProjectCard
          title={project.data.title}
          description={project.data.description}
          slug={project.id}
          repoLink={project.data.repoLink}
          demoLink={project.data.demoLink}
        />
      ))}
    </CardContainer>
  </section>
  <!-- Disabled until actual posts have been written
  <section class="showcase">
    <div class="showcase-header">
      <p>Latest Posts</p>
      <a class="push" href="/blog">View All</a>
    </div>
    <PostContainer posts={rankedPosts.slice(0, 3).map((post) => ({
      title: post.data.title,
      url: `/blog/${post.slug}`,
    }))}/>
  </section>
  -->
</Layout>


