---
export type Props = {
  title: string;
  slug: string;
  description: string;
  disablePost?: boolean;
  demoLink?: string | undefined;
  repoLink?: string | undefined;
};

const {
  title,
  slug,
  description,
  disablePost,
  demoLink,
  repoLink
} = Astro.props;

function generateTitleHref() {
  if (demoLink !== undefined) {
    return demoLink;
  } else if (disablePost === false) {
    return `/posts/${slug}`;
  } else if (repoLink !== undefined) {
    return repoLink;
  }

  return `#`;
}
---

<div class="flex flex-col space-y-2 border border-gray-300 rounded-md p-4 bg-neutral-50">
  <div>
    <a
      class="text-xl hover:underline"
      href={generateTitleHref()}
    >
        {title}
      </a>
  </div>
  <div>
    <p class="text-sm text-neutral-600">{description}</p>
  </div>
  <div class="flex flex-wrap gap-2 text-sm">
    {(() => {
      const linkBuilder = (href: string, inner: string) => (
        <a
          class="bg-neutral-100 rounded-md border border-gray-300 p-2 hover:underline"
          href={href}
        >{inner}</a>
      );

      let result = [];
      if (disablePost === false) {
        result.push(linkBuilder(`/projects/${slug}`, 'Read More'))
      }
      if (demoLink !== undefined) {
        result.push(linkBuilder(demoLink, 'Demo'))
      }
      if (repoLink !== undefined) {
        result.push(linkBuilder(repoLink, "Github"))
      }
      return result;
    })()}
  </div>
</div>
