---
export type Props = {
  title: string;
  slug: string;
  description: string;
  disablePost: boolean;
  demoLink?: string;
  repoLink?: string;
};

const { title, slug, description, disablePost, demoLink, repoLink } = Astro.props;
---

<style>
  .card {
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  a.title {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--main-text-color);
  }

  a.title:hover {
    text-decoration: underline;
  }

  .description {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
  }

  .links {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .links a {
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 0.5rem;
    background: var(--button-background);
    text-decoration: none;
    color: var(--main-text-color);
  }

  .links a:hover {
    text-decoration: underline;
  }
</style>

<div class="card bg-neutral-100">
  <div>
    <a href={(() => {
      if (demoLink !== undefined) {
        return demoLink;
      } else if (disablePost === false) {
        return `/posts/${slug}`;
      } else if (repoLink !== undefined) {
        return repoLink;
      } else {
        return `#`;
      }
    })()} class="title">{title}</a>
    <p class="description">{description}</p>
  </div>
  <div class="links">
    {disablePost === false &&
      <a href={`/posts/${slug}`}>Read More</a>}
    {demoLink !== undefined &&
      <a href={`${demoLink}`}>Demo</a>}
    {repoLink !== undefined &&
      <a href={`${repoLink}`}>Github</a>}
  </div>
</div>
