---
import Layout from '../../layouts/BaseLayout.astro';
import CardContainer from '../../components/CardContainer.astro';
import ProjectCard from '../../components/ProjectCard.astro';
import { getCollection } from 'astro:content';

const rankedProjects = (await getCollection('projects'))
  .sort((a, b) => (a.data.rank ?? Number.MAX_SAFE_INTEGER) - (b.data.rank ?? Number.MAX_SAFE_INTEGER));
---

<Layout title="Projects">
  <header class="text-4xl font-semibold">
    <span>Projects</span>
  </header>
  <section class="mt-6">
    <CardContainer>
      {rankedProjects.map(project => (
        <ProjectCard
          title={project.data.title}
          description={project.data.description}
          slug={project.id}
          disablePost={!!project.data.disablePost}
          repoLink={project.data.repoLink}
          demoLink={project.data.demoLink}
        />
      ))}
    </CardContainer>
  </section>
</Layout>
