---
import Layout from '../../layouts/BaseLayout.astro';
import CardContainer from '../../components/CardContainer.astro';
import ProjectCard from '../../components/ProjectCard.astro';
import { getCollection } from 'astro:content';

const rankedProjects = (await getCollection('project'))
  .sort((a, b) => (a.data.rank ?? Number.MAX_SAFE_INTEGER) - (b.data.rank ?? Number.MAX_SAFE_INTEGER));
---

<style>
  header {
    font-size: 2.0rem;
    font-weight: 600;
  }

  section {
    margin-top: 1.5rem;
  }
</style>

<Layout title="Projects">
  <header>
    <span>Projects</span>
  </header>
  <section>
    <CardContainer>
      {rankedProjects.map(project => (
        <ProjectCard
          title={project.data.title}
          description={project.data.description}
          slug={project.slug}
          repoLink={project.data.repoLink}
          primaryLink={project.data.primaryLink}
        />
      ))}
    </CardContainer>
  </section>
</Layout>
